// Colors
$colorDark:			#1a1a1a;
$colorMedium:		#343434;
$colorLight:		#b4b5b5;
$colorVeryLight:	#ebecec;
$colorRed:			#e74444;

$facebookBlue:		#3b5998;
$twitterBlue:		#55acee;
$instagramBlue:		#517fa4;

$link-normal: 		#267EC8;
$linkActive: 		#7198e9;
$linkVisited: 		#6284ca;

$buttonNormal:		$colorDark;
$buttonHover:		$colorMedium;
$buttonActive:		black;

$button:	#FF3734;
$button-hover:	lighten($button, 10%);
$button-active:	darken($button, 15%);

// Sizes
$typeDefault:		100%;		// 16px
$typeOptimal:		1.25em;		// 20px
$typeMedium:		1.5em;		// 24px
$typeLarger:		2em;		// 32px
$typeLarge:			2.5em;		// 40px
$typeVeryLarge:		4.2em;		// 64px

$sizeTiny:			0.3rem;		// 5px
$sizeSmall:			0.5rem;		// 8px
$sizeDefault:		1rem;		// 16px
$sizeMedium:		1.5rem;		// 24px
$sizeLarger:		2rem;		// 32px
$sizeMax:			43.75rem;	// 700px

// Fonts
$fontBody: 			"fab", Helvetica, Sans-serif;
$fontAbril:			"abril-fatface", Georgia, Serif;

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.floatLeft {
	float: left;
}

.floatCenter {
	margin-left: auto;
	margin-right: auto;
}

.floatRight {
	float: right;
}

.lazy {
	opacity: 0;
}

// Border Box
body, article, section, footer, header, div, input, nav, article ol, article ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// Clearfix

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.table {
	display: table;
}

.fullScreen {
	height: 100%;
	width: 100%;
}

.hide {
	display: none;
}

// Buttons