body, html {
	background: white;
	height: 100%;
	margin: 0;
  text-shadow: none!important;
}

.full-width-section {
  border-bottom: 1px solid #E4E2E2;
  padding: 0 15px;
}

label, legend {
  font-weight: bold!important;
  font-size: 14px!important;
}

.ui-controlgroup-label {
  float: left;

  label, legend {
    padding-top: 11px;
  }
}

.mt {
  margin-top: 20px!important;
}

.pb {
  padding-bottom: 20px;
}

.ui-controlgroup-controls {
  float: right;
}

.topnav {
  max-height: 50px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 10px;
}

.icn-menu, .icn-search {
  width: 15%;
  float: left;
}

.icn-search img, .close {
  float: right;
}

.logo {
  width: 70%;
  float: left;
  text-align: center;
}

h1 {
  margin-top: 75px;
  font-size: 16px;
  font-weight: 300;
}

.labels {
  width: 100%;
  font-size: 10px;
  text-align: justify;
  color: #a0a0a0;
  margin-top: -4px;
  font-weight: normal;
}

.label-right {
  position: absolute;
  right: 15px;
  padding-right: 7px;
}

.label-left {
  float: left;
  padding-left: 7px;
}

.label-center {
  width: 20%;
  display: block;
  position: absolute;
  text-align: center;
  left: 40%;
}

.dash {
  display: block;
  position: absolute;
  text-align: center;
  top: -1px;
  right: 45px;
  font-weight: normal;
}

.age .dash {
  right: 40px;
}

.pr {
  position: relative;

  input[type=number] {
    position: absolute;
    background: none;
    border: none;
    font-weight: normal;
    box-shadow: none;
  }
  .ui-rangeslider .ui-slider-input.ui-rangeslider-first {
      right: 50px;
      top: -5px;
      text-align: right;
    }
  .ui-rangeslider .ui-slider-input.ui-rangeslider-last, input.ui-slider-input {
      right: 0;
      top: -5px;
    }
}

.ui-rangeslider .ui-rangeslider-sliders, .ui-slider-track {
  margin: 0 10px 0 10px;
}

.ui-page-theme-a .ui-btn {
  background: white;
}

.more-filters {
  display: block;
  padding: 15px 0;
}

.filters {
  padding-bottom: 80px;
}

.filters-wrapper {
  position: fixed;
  // display: none;
  background: rgba(248,248,248,0.97);
  width: 100%;
  top: 0;
  bottom: 0;
  // left: 0;
  // right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

.hide {
  display: none;
}

.button {
  background: $button;
  display: block;
  color: white!important;
  text-shadow: none;
  text-align: center;
  position: fixed;
  bottom: 20px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  max-width: 80%;
  font-size: 18px;
  font-weight: bold!important;
  padding: 12px;
  border-radius: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;

  &:active {
    background: $button-active;
  }
}

.big-button {
  width: 90%;
  border-radius: 3px;
  // transition: width 0.3s;
}

.listings {
  margin-top: 50px;

  img {
    max-width: 100%;
  }
}

.noscroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
}

.ui-shadow-inset {
  box-shadow: none;
}

#spinner {
  position: fixed;
  max-width: 30%;
  top: 40%;
  left: 35%;
  z-index: 0;
}

#listings {
  z-index: 1;
  position: relative;
}

#theButton {
  z-index: 2;
}

.ui-overlay-a, .ui-page-theme-a {
  background: white;
}