body, html {
	color: $colorMedium;
	font: $typeDefault $fontBody;

	a {
		color: $link-normal;
		text-decoration: underline;
		font-weight: normal!important;
	}

	a:active {
		color: $linkActive;
	}

	a:visited {
		color: $linkVisited;
	}
}